dataset_builder/crawler/out/
dataset_builder/crawler/Results/ 
dataset_builder/crawler/target/
dataset_builder/crawler/log/**
dataset_builder/crawler/src/test/resources/**
dataset_builder/multi_media/out
dataset_builder/multi_media/log
dataset_builder/multi_media/storage
dataset_builder/multi_media/Results/** 


#TODO
dataset_builder/final_corpus/**

dataset_builder/preprocess.sh 
inference_script.sh
train_script.sh
eval_script.sh
script.sh
#TODO
 
checkpoint
data/mocheg
data/mocheg2
##
*.tar.gz
*.png 
*.img 
*.pyc
dataset_builder/crawler/.settings/org.eclipse.m2e.core.prefs
dataset_builder/crawler/.classpath
dataset_builder/crawler/.project
dataset_builder/crawler/.settings/org.eclipse.jdt.apt.core.prefs
dataset_builder/crawler/.settings/org.eclipse.jdt.core.prefs
# *.json
dataset_builder/crawler/.factorypath
# Results/**
# log/**
 


 
dataset_builder/main.py
dataset_builder/test.py
README_ref.md
dataset_builder/multi_media/util/tried_image_crawler/ 

!retrieval/data 
retrieval/output/ 
wandb/ 
controllable/generation/output/ 
verification/output
.vscode 
test/trouble_shooting.sh
