bert-score==0.3.11
datasets==1.17.0
newspaper3k==0.2.8
nltk==3.7
numpy
opencv-python==4.5.3.56
pandas==1.3.0
Pillow 
py7zr==0.17.2
pytrec-eval==0.5
ray==1.11.0
regex 
requests==2.26.0
Scrapy  
sentence-transformers==2.1.0 
spacy==3.1.0
spacy-legacy==3.0.8 
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.5  
tokenizers==0.12.1
torch==1.9.0
torchaudio==0.9.0 
torchvision==0.10.0 
tqdm==4.62.3 
transformers==4.19.1 
typer==0.3.2 
ujson==4.0.2
urllib3==1.26.6 
wandb==0.12.9 
